/* body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
} */

table {
  font-size: 0.8rem;
}

.card {
  width: 30rem;
}

.spec {
  text-transform: capitalize;
}

.text-left {
  padding: 1.5rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-title {
  padding-left: 0.5rem;
}

.card-body {
  padding: 1rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid {
  padding-top: 6rem;
}
