table {
  font-size: 0.8rem;
}

.card {
  width: 30rem;
}

.spec {
  text-transform: capitalize;
}

.text-left {
  padding: 1.5rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.153) !important;
}

.card-title {
  padding-left: 0.5rem;
}

.card-body {
  padding: 1rem 0 !important;
}

.container-fluid {
  padding-top: 6rem;
}

.text-spec {
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 0.5rem;
}

.text-flavor {
  font-size: 0.9rem;
  font-style: italic;
}