table {
  font-size: 0.8rem;
}

#ad {
  width: 25rem;
  height: 30rem;
}

#ad:hover {
  color: hotpink;
  background-color: white;
  box-shadow: 5px 10px 20px 1px rgba(200, 200, 200, 0.5) !important;
}

#buttons {
  display: inline;
  font-size: .8rem;
  color: rgb(133, 133, 133);
  background-color: rgb(241, 241, 241);
  margin: .2rem;
  padding: 0.1rem;
}
 
#buttons:hover {
  color: white;
  background-color: rgba(255, 88, 171, 0.5);
}

.card {
  width: 25rem;
  height: 30rem;
  box-shadow: 5px 10px 20px 1px rgba(200, 200, 200, 0.5) !important;
}

.age {
  padding: 0.8rem;
}

.spec {
  text-transform: capitalize;
}

.text-left {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 0.5rem;
}

.card-body {
  padding: 1rem 0 !important;
}

.container-fluid {
  padding-top: 5rem;
}

.text-spec {
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 0.5rem;
}

.text-flavor {
  font-size: 0.9rem;
  font-style: italic;
}