@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  font-size: xx-large;
  margin-top: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0px;
}

td {
  width: 100px;
}

.center {
  text-align: center;
}

.waifu-name {
  font-size: xx-large;
}

.underline {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.label {
  font-size: small;
  color: #999999;
  margin-bottom: 5px;
}

.value {
  margin: 0;
}

.italics {
  font-style: italic;
}